/* Raúl Acosta 27-09-2021 https://github.com/RaulAcosta95/Problema_2_Prueba_Tecnica_Neubox */
body{
    background-color: rgb(61, 70, 83);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1,p{
    color: rgb(243, 243, 243);
}
header h1, p{
    text-align: center;
}
#formInputFile, #divDescarga{
    display: flex;
    justify-content: center;
}
.validación{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#validación{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 205, 181);
    width: 80vw;
    height: 100px;
    font-size: 40px;
}